# Version control
.git
.gitmodules
.gitignore
.github
.vscode

# Docker files
Dockerfile
docker-compose.yaml
.dockerignore

# Scripts and docs
README.md

# Volumes (not needed in image)
volumes/

# Config (will be mounted as volume)
config/

# Allow compose in
!config/wiki/composer.local.json
!config/apache/*

# Environment files (secrets)
.env
.env.example

# Temporary files
*.tmp
*.log

# Not needed
*.md
