[submodule "extensions/AdvancedSearch"]
	path = extensions/AdvancedSearch
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AdvancedSearch
[submodule "extensions/Babel"]
	path = extensions/Babel
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Babel.git
[submodule "extensions/CharInsert"]
	path = extensions/CharInsert
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CharInsert
[submodule "extensions/cldr"]
	path = extensions/cldr
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/cldr.git
[submodule "extensions/CleanChanges"]
	path = extensions/CleanChanges
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CleanChanges.git
[submodule "extensions/DataDump"]
	path = extensions/DataDump
	url = https://github.com/miraheze/DataDump.git
[submodule "extensions/DumpsOnDemand"]
	path = extensions/DumpsOnDemand
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DumpsOnDemand
[submodule "extensions/HeaderFooter"]
	path = extensions/HeaderFooter
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/HeaderFooter
[submodule "extensions/Moderation"]
	path = extensions/Moderation
	url = https://github.com/edwardspec/mediawiki-moderation.git
[submodule "extensions/MW-OAuth2Client"]
	path = extensions/MW-OAuth2Client
	url = https://github.com/mo8it/MW-OAuth2Client.git
[submodule "extensions/NativeSvgHandler"]
	path = extensions/NativeSvgHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/NativeSvgHandler
[submodule "extensions/Scribunto"]
	path = extensions/Scribunto
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Scribunto
[submodule "extensions/ShortDescription"]
	path = extensions/ShortDescription
	url = https://github.com/StarCitizenTools/mediawiki-extensions-ShortDescription.git
[submodule "extensions/SyntaxHighlight_GeSHi"]
	path = extensions/SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SyntaxHighlight_GeSHi
[submodule "extensions/TorBlock"]
	path = extensions/TorBlock
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TorBlock
[submodule "extensions/Translate"]
	path = extensions/Translate
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Translate.git
[submodule "extensions/Discord"]
	path = extensions/Discord
	url = https://github.com/jayktaylor/mw-discord.git
[submodule "extensions/EmailDNSValidate"]
	path = extensions/EmailDNSValidate
	url = https://github.com/Yellow-Dog-Man/EmailDNSValidate.git
[submodule "extensions/InlineSVG"]
	path = extensions/InlineSVG
	url = https://github.com/alex-mashin/InlineSVG.git
[submodule "extensions/Mermaid"]
	path = extensions/Mermaid
	url = https://github.com/SemanticMediaWiki/Mermaid.git
[submodule "extensions/UserFunctions"]
	path = extensions/UserFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-UserFunctions.git
[submodule "extensions/UniversalLanguageSelector"]
	path = extensions/UniversalLanguageSelector
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/UniversalLanguageSelector.git
[submodule "extensions/VisualEditor"]
	path = extensions/VisualEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VisualEditor
[submodule "skins/Citizen"]
	path = skins/Citizen
	url = https://github.com/Yellow-Dog-Man/mediawiki-skins-Citizen.git
[submodule "extensions/EmbedVideo"]
	path = extensions/EmbedVideo
	url = https://github.com/StarCitizenWiki/mediawiki-extensions-EmbedVideo
[submodule "extensions/DynamicPageList4"]
	path = extensions/DynamicPageList4
	url = https://github.com/Universal-Omega/DynamicPageList4.git
[submodule "extensions/MaintenanceShell"]
	path = extensions/MaintenanceShell
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MaintenanceShell
[submodule "extensions/OpenGraphMeta"]
	path = extensions/OpenGraphMeta
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OpenGraphMeta
[submodule "extensions/AWS"]
	path = extensions/AWS
	url = https://github.com/edwardspec/mediawiki-aws-s3
[submodule "extensions/DiscussionTools"]
	path = extensions/DiscussionTools
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DiscussionTools
[submodule "extensions/TemplateStyles"]
	path = extensions/TemplateStyles
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateStyles
[submodule "extensions/Elastica"]
	path = extensions/Elastica
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Elastica
[submodule "extensions/CirrusSearch"]
	path = extensions/CirrusSearch
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CirrusSearch
[submodule "extensions/CloudflarePurge"]
	path = extensions/CloudflarePurge
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CloudflarePurge
[submodule "extensions/TemplateStylesExtender"]
	path = extensions/TemplateStylesExtender
	url = https://github.com/xtexx/mediawiki-extensions-TemplateStylesExtender
