version: '3'
services:
  resonite-wiki:
    container_name: resonite-wiki
    image: mediawiki:1.45.1
    restart: always
    networks:
      - wiki
    ports:
      - 8888:80
    volumes:
      - /volumes/mediawiki:/var/www/html
      - /config:/var/www/html/config:ro
      - /config/LocalSettings.php:/var/www/html/LocalSettings.php:ro
      - /extensions:/var/www/html/extensions:ro
  resonite-wiki-database:
    container_name: resonite-wiki-database
    image: mariadb
    restart: always
    networks:
      - wiki
    environment:
      MYSQL_DATABASE: wiki_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: REDACTED
      MYSQL_PASSWORD: REDACTED
    volumes:
      -  /volumes/database:/var/lib/mysql
networks:
  wiki:
    driver: bridge