
services:
  resonite-wiki:
    container_name: resonite-wiki
    image: ghcr.io/yellow-dog-man/resonite-wiki:main
    restart: unless-stopped
    networks:
      - wiki
    ports:
      - 8888:80
    volumes:
      - /volumes/mediawiki:/var/www/html
      - /config:/var/www/html/config:ro
      - /config/LocalSettings.php:/var/www/html/LocalSettings.php:ro
    env_file:
      - .env
    environment:
      - MW_DB_TYPE=mysql
      - MW_DB_SERVER=resonite-wiki-database
      - MW_DB_NAME=wiki_db
    secrets:
      - db_user
      - db_password
      - smtp_password
      - discord_webhook
      - mw_secret_key
      - mw_upgrade_key
  resonite-wiki-database:
    container_name: resonite-wiki-database
    image: mariadb
    restart: always
    networks:
      - wiki
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: wiki_db
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MYSQL_USER_FILE: /run/secrets/db_user
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - mysql_root_password
      - db_user
      - db_password
    volumes:
      -  /volumes/database:/var/lib/mysql

  # Runs the batch job queue in a separate container, untested but based on what Star Citizen does. Will test as a part of development.
  resonite-wiki-jobrunner:
    container_name: resonite-wiki-jobrunner
    image: starcitizentools/mediawiki/smw-jobrunner-latest
    restart: unless-stopped
    networks:
      - wiki
    volumes:
      - /config:/var/www/html/config:ro
      - /config/LocalSettings.php:/var/www/html/LocalSettings.php:ro
    env_file:
      - .env
    environment:
      - MW_DB_TYPE=mysql
      - MW_DB_SERVER=resonite-wiki-database
      - MW_DB_NAME=wiki_db
    secrets:
      - db_user
      - db_password
      - mw_secret_key
    depends_on:
      - resonite-wiki-database
      - resonite-wiki

secrets:
  mysql_root_password:
    environment: MYSQL_ROOT_PASSWORD
  db_user:
    environment: MYSQL_USER
  db_password:
    environment: MYSQL_PASSWORD
  smtp_password:
    environment: SMTP_PASSWORD
  discord_webhook:
    environment: DISCORD_WEBHOOK
  mw_secret_key:
    environment: MW_SECRET_KEY
  mw_upgrade_key:
    environment: MW_UPGRADE_KEY

networks:
  wiki:
    driver: bridge
