#TODO: we can probably look into drivers for these volumes that act as filesystems and mount directly into S3/R2/Azure, https://github.com/rexray/rexray for example.
volumes:
  wiki-database-backups:
    driver: local
  opensearch-data:
    driver: local

services:
  resonite-wiki:
    container_name: resonite-wiki
    pull_policy: always
    image: ghcr.io/yellow-dog-man/resonite-wiki:main
    restart: unless-stopped
    networks:
      - wiki
    ports:
      - 8888:80
    volumes:
      - ./config/wiki/:/var/www/html/config:ro
      - ./config/wiki/composer.local.json:/var/www/html/composer.local.json:ro
      - ./config/wiki/LocalSettings.php:/var/www/html/LocalSettings.php:ro
      - ./scripts/startup.sh:/usr/local/bin/startup.sh:ro
    environment:
      MW_USER: Admin
      MW_PASS: '${MW_ADMIN_PASSWORD}'
      OPENSEARCH_ENABLED: '${OPENSEARCH_ENABLED}'
      CF_CACHE_ENABLED: '${CF_CACHE_ENABLED}'
      DISCORD_ENABLED: '${DISCORD_ENABLED}'
    secrets:
      - db_password
      - smtp_password
      - discord_webhook
      - mw_secret_key
      - mw_upgrade_key
      - r2_endpoint
      - r2_access_key_id
      - r2_secret_access_key
      - cf_zone_id
      - cf_purge_token
    command: /usr/local/bin/startup.sh
    depends_on:
      resonite-wiki-database:
        condition: service_healthy
      resonite-wiki-utilities:
        condition: service_started
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.mw-job-queue.schedule: "@every 30s"
      ofelia.job-exec.mw-job-queue.command: "php /var/www/html/maintenance/run.php runJobs --maxtime=3600"

  resonite-wiki-database:
    container_name: resonite-wiki-database
    image: mariadb
    restart: always
    networks:
      - wiki
    environment:
      MYSQL_DATABASE: wiki_db
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MYSQL_USER: 'wiki'
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - mysql_root_password
      - db_password
    volumes:
      -  ./volumes/database:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  resonite-wiki-opensearch:
    networks:
      - wiki
    profiles: [search]
    image: opensearchproject/opensearch:1.3.20 #Wiki search requires 1.3.x, 1.3.20 is latest
    container_name: resonite-wiki-opensearch
    environment:
      - cluster.name=resonite-wiki-search
      - node.name=resonite-wiki-search1
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - DISABLE_SECURITY_PLUGIN=true #TODO: Sounds scary but not exposed and public data anyway, im not worried, but still should resolve.
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data

  # https://github.com/netresearch/ofelia
  ofelia:
    image: ghcr.io/netresearch/ofelia:latest
    container_name: resonite-wiki-scheduler
    depends_on:
      - resonite-wiki
    command: daemon -f label=com.docker.compose.project=${COMPOSE_PROJECT_NAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/ofelia/config.ini:/etc/ofelia/config.ini:ro
    labels:
      ofelia.log-level: "WARN"

  resonite-wiki-utilities:
    container_name: resonite-wiki-utilities
    image: ghcr.io/yellow-dog-man/resonite-wiki-utilities:main
    restart: unless-stopped
    pull_policy: always
    networks:
      - wiki
    volumes:
      - wiki-database-backups:/backup
    environment:
      # AUTOMYSQLBACKUP
      DBHOST: resonite-wiki-database
      DBNAMES: wiki_db
      USERNAME: root
      PASSWORD_FILE: /run/secrets/mysql_root_password
      BACKUPDIR: /backup
      LATEST: "yes"
      COMP: "gzip"
      # R2
      RCLONE_CONFIG_R2_TYPE: s3
      RCLONE_CONFIG_R2_PROVIDER: Cloudflare
      RCLONE_CONFIG_R2_ENDPOINT: ${R2_ENDPOINT}
      RCLONE_CONFIG_R2_ACCESS_KEY_ID: ${R2_ACCESS_KEY_ID}
      RCLONE_CONFIG_R2_SECRET_ACCESS_KEY: ${R2_SECRET_ACCESS_KEY}
      RCLONE_CONFIG_R2_ACL: private
      R2_BACKUP_BUCKET_NAME: 'wiki-backups'
    secrets:
      - mysql_root_password
      - r2_endpoint
      - r2_access_key_id
      - r2_secret_access_key
    depends_on:
      resonite-wiki-database:
        condition: service_healthy
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.backup-db.schedule: "0 0 * * *" # 12:00 AM
      ofelia.job-exec.backup-db.command: "/usr/local/bin/manualBackup.sh" #I know the naming of this is bad, TODO I guess lol
      ofelia.job-exec.sync-backups.schedule: "0 1 * * *" # 01:00 AM
      ofelia.job-exec.sync-backups.command: "rclone sync /backup r2:wiki-backups/database-backups --transfers 4 --checkers 8 --log-level INFO"

secrets:
  mysql_root_password:
    environment: WIKI_MYSQL_ROOT_PASSWORD
  db_password:
    environment: WIKI_MYSQL_PASSWORD
  smtp_password:
    environment: SMTP_PASSWORD
  discord_webhook:
    environment: DISCORD_WEBHOOK
  mw_secret_key:
    environment: MW_SECRET_KEY
  mw_upgrade_key:
    environment: MW_UPGRADE_KEY
  r2_endpoint:
    environment: R2_ENDPOINT
  r2_access_key_id:
    environment: R2_ACCESS_KEY_ID
  r2_secret_access_key:
    environment: R2_SECRET_ACCESS_KEY
  cf_zone_id:
    environment: CF_ZONE_ID
  cf_purge_token:
    environment: CF_PURGE_TOKEN

networks:
  wiki:
    driver: bridge
