name: 'Build and publish a Docker container image'

on:
  workflow_dispatch:
  push:
  release:
    types:
      - published

permissions:
  packages: write
  contents: read

jobs:
  docker-build:
    runs-on: ubuntu-latest
    name: 'Build & Publish Docker container image'

    steps:
      - name: 'Generate a token'
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.CI_APP_ID }}
          private-key: ${{ secrets.CI_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: 'Mask generated variable'
        run: echo "::add-mask::${{ steps.generate-token.outputs.token }}"

      - name: 'Checkout current repository'
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: 'Setup Buildx'
        uses: docker/setup-buildx-action@v3

      - name: 'Extract medatada'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/resonite-wiki
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: 'ghcr.io'

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: 'Dockerfile'
          context: '.'
